/*****FONT STYLES*****/
body {
  font-family: 'Noto Sans', sans-serif;
}

h1 {
  color: #ee3a43;
  font-family: 'Fjalla One', sans-serif;
  font-size: 50px;
  line-height: 0px;
  padding-left: 30px;
}

h2 {

  font-family: 'Fjalla One', sans-serif;
  font-size: 36px;
  text-align: center;
}

span {
  color: #ee3a43;
  font-weight: bold;
}

h4{

  font-size: 32px;
  font-weight: bold;
  text-align: center;

}
/*****DIV STYLES & GRID*****/
.full-width {
  clear: both;
  margin: 0 auto;
  width: 100%;

}

.half-width {
  float: left;
  width: 48%;
}

.third-width {
  float: left;
  width: 33%
}

.fourth-width {
  float: left;
  width: 25%;
}

/*****HEADER*****/

#tag {
  color: #ee3a43;
  line-height: 0px;
  padding-left: 30px;
}

#call {
  font-size: 22px;
}

#pic {
  background: url(../img/ice-cubes-row.png) no-repeat;
  background-size: cover;
  height: 600px;
}
nav {
  margin-left: 460px;
  padding-top: 30px;


}
nav ul li {
  color:#0053a0;
  display: inline-block;
  font-family: 'Fjalla One', sans-serif;
  font-size: 30px;
  padding-right: 30px;
  text-decoration: none;
}



/*****MAIN RENTAL & SERVICE*****/


#main ul {
  padding-bottom: 40px;
  padding-left: 230px;
  font-size: 20px;
}

/*****GUARANTEE*****/

#guarantee {
  background: #0053a0;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*****MACHINES*****/

#machines img {
  margin-left: 400px;
}



#bin-one {
  background: url(../img/bin-one.png) no-repeat;
  height: 300px;
}

#bin-two {
  background: url(../img/bin-two.png) no-repeat;
  height: 300px;
}

#bin-three {
  background: url(../img/bin-three.png) no-repeat;
  height: 300px;
}

#bin-four {
  background: url(../img/bin-four.png) no-repeat;
  height: 300px;
}
