/*****FONT STYLES*****/
html {
  font-size: 16px;
  width: 100%
  height: 100%
}

body {
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  color: #ee3a43;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  line-height: 0px;
  margin-top: 0;
}

h2 {

  font-family: 'Fjalla One', sans-serif;
  font-size: 40px;
  text-align: center;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 28px;
  text-align: center;
}



h4{

  font-size: 32px;
  font-weight: bold;
  text-align: center;

}
h5 {
  font-size: 2.3em;
  margin: 0px;
  color: #ee3a43;
}

p {
  font-size: 20px;
}
span {
  color: #ee3a43;
  font-weight: bold;
}
/*****DIV STYLES & GRID*****/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.topper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call {
  padding-bottom: 20px;
}

.title {
  text-align: center;
}
.full-width {
  clear: both;
  margin: 0 auto;
  width: 100%;

}

/*.half-width {
  float: left;
  width: 48%;*/
}

.third-width {
  float: left;
  padding-bottom: 40px;
  width: 33%;
  text-align: center;
}

.fourth-width {
  float: left;
  width: 25%;
}

/*****HEADER*****/

#tag {
  color: #ee3a43;
  line-height: 0px;
  padding-left: 30px;
}

.call a {
  color: #0053a0;
  font-size: 4em;
}

#pic {
  background: url(../img/ice-cubes-row.png) no-repeat;
      background-size: cover;
      height: 780px;
      display: flex;
      align-items: flex-start;
}
nav {
  text-align: center;
  padding-top: 30px;


}
nav ul li  {
  color: #0053a0;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.6em;
    padding-right: 21px;
    text-decoration: none;
}

a {
  color:#0053a0;
  text-decoration: none;
}


/*****MAIN RENTAL & SERVICE*****/

/*#main {
  height: 600px;
}*/
#main ul {
  padding-bottom: 40px;
  padding-left: 230px;
  font-size: 20px;
}

/*****GUARANTEE*****/

#guarantee {
  background: #0053a0;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*****MACHINES*****/
#machines {
  padding-top: 20px;
  }

#machines img {
  margin-left: 400px;
  padding-top: 20px;
}



#bin-one {
  background: url(../img/bin-one.png) no-repeat;
  height: 320px;
  margin-top: 20px;
}

#bin-two {
  background: url(../img/bin-ice-low.png) no-repeat;
  height: 320px;
  margin-top: 20px;
}



#bin-three {
  background: url(../img/bin-two.png) no-repeat;
  height: 320px;
  margin-top: 20px;
}
#bin-four {
  background: url(../img/bin-three.png) no-repeat;
  height: 320px;
  margin-top: 20px;
}

/*****CUBES*****/

#cubes {
  padding-top: 20px;

}

#cubes img {
  border: 10px solid #0053a0;
  border-radius: 60px;

}

/*****CONTACT*****/
#contact {
  color: white;
  background: #0053a0;
  padding-top: 10px;
  height: 400px;
}

#contact img {
  border: 10px solid white;
  border-radius: 40px;
}

footer #footnote  {
  color: white;
  background: #0053a0;
}
