/*****FONT STYLES*****/
html {
  font-size: 16px;
  width: 100%;
  height: 100%;
}

body {
  font-family: 'Noto Sans', sans-serif;

}


h1 {
  color: #ee3a43;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  line-height: 0px;
  margin-top: 0;
  margin-bottom: 0;
}

h2 {

  font-family: 'Fjalla One', sans-serif;
  font-size: 4.5em;
  text-align: center;
  margin-bottom: 0;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.2em;
  text-align: center;
}



h4{

  font-size: 2.5em;
  font-weight: bold;
  text-align: center;

}
h5 {
  font-size: 2.3em;
  margin: 0px;
  color: #ee3a43;
}

p {
  font-size: 2.875em;
    text-align: center;
}
span {
  color: #ee3a43;
  font-weight: bold;
}
/*****DIV STYLES & GRID*****/
.container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}



.title {
  width: 100%;
  text-align: center;
}


.full-width {
  width: 100%;
}

.third-width {

  padding-bottom: 40px;
  text-align: center;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*****HEADER*****/
.header-wrapper {
  width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.topper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call {
  padding-bottom: 20px;
}
.tag {
  text-align: center;
}



.call a {
  color: #0053a0;
  font-size: 4em;
}

#pic {
  background: url(../img/ice-cubes-row.png) no-repeat;
      background-size: cover;
      height: 780px;
      display: flex;
      align-items: flex-start;
}
nav {
  text-align: center;
  padding-top: 60px;


}
nav ul li  {
  color: #0053a0;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 2.3em;
    padding-right: 21px;
    text-decoration: none;
}

a {
  color:#0053a0;
  text-decoration: none;
}


/*****MAIN RENTAL & SERVICE*****/
main {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}

#main ul {
  font-size: 3em;
  list-style: square;
  padding-left: 30%;
}

/*****GUARANTEE*****/

#guarantee {
  background: #0053a0;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*****MACHINES*****/
.iceomatic {
  text-align: center;
  margin: 0px 20px;
}
.machines {
  padding: 0px 0px 40px 0px;
  margin-left: 80px;
  width: 100%;
  }

  .bins {
    display: inline-flex;
    width: 49%;
  }



#bin-one {
  background: url(../img/bin-one-mobile.png) no-repeat;
  height: 470px;
  margin-top: 20px;
}

#bin-two {
  background: url(../img/bin-ice-low-mobile.png) no-repeat;
  height: 548px;
  margin-top: 20px;
}



#bin-three {
  background: url(../img/bin-two-mobile.png) no-repeat;
  height: 480px;
  margin-top: 20px;
}
#bin-four {
  background: url(../img/bin-three-mobile.png) no-repeat;
  height: 480px;
  margin-top: 20px;
}

/*****CUBES*****/
.cubes{
  display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
}

.cubes img {
  border: 10px solid #0053a0;
  border-radius: 60px;
  width: 600px;

}

/*****CONTACT*****/
.contact {

  display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background: #0053a0;
    padding-top: 10px;
    text-align: center;

}
#call a {
  color: white;
}

#contact {
  background: #0053a0;
  color: white;
}
.polar-logo img {
  border: 10px solid white;
    border-radius: 40px;
    width: 50%;
    margin: 60px;

}

.polar-logo{
  width: 100%;
  background: #0053a0;

    text-align: center;
}

footer #footnote  {
  color: white;
  background: #0053a0;
}

/*****DESKTOP*****/
  @media all and (min-width:1200px) {

    h1 {
      font-size: 3em;
    }

    h2{
      font-size: 3.2em;
    }

    h3{
      font-size: 2.2em;
    }

    h4 {
      font-size: 1.5em;
     }

    h5 {
      font-size: 1.5em;
    }
    .header-wrapper {
      flex-wrap: wrap;
      flex-direction: unset;
      justify-content: flex-start;
    }
    .topper {
      flex-direction: unset;
      margin-bottom: 20px;
    }
    .text-logo{
      width:100%;
      justify-content: flex-start;
      height: 150px;
    }

    .text-logo img {
      padding-left: 15px;
      width: 55%;
    }

    .call a {
      padding-right: 70px;
      font-weight: bolder;
    }

    .tag {
      text-align: left;
      padding-left: 60px;
      margin-top: 22px;
    }

    #pic {
      background: url(../img/ice-cubes-row-desktop.png) no-repeat;
    background-size: cover;
    height: 500px;
    }

    nav {
    text-align: right;
    padding-top: 20px;
}
    nav ul li {
      font-size: 2.2em;
    }

    #main ul {
      font-size: 1.3em;
    padding-left: 44%;
    margin-bottom: 40px;
    }

    .cubes {
      background: #0053a0;
      color: white;
      flex-flow: unset;
      width: 100%
    }

    .cubes img {
    border: 7px solid slategray;

    width: 350px;
    margin: 0 20px;
}
    #cubes {
      background: #0053a0;
      color: white;
    }
.bins {
  width: 24%;
}

#bin-one {
  background: url(../img/bin-one.png) no-repeat;
  height: 300px;

}

#bin-two {
  background: url(../img/bin-ice-low.png) no-repeat;
  height: 300px;

}



#bin-three {
  background: url(../img/bin-two.png) no-repeat;
  height: 277px;

}
#bin-four {
  background: url(../img/bin-three.png) no-repeat;
  height: 300px;

}
.contact {
  flex-direction: unset;
}
.third-width {
  width: 50%;
  padding-bottom: 8px;
}

p {
  font-size: 1.875em;
}



.polar-logo img {
  width: 25%;
  margin-top: 0;
  margin-bottom: 30px;
}



  }
