/*****FONT STYLES*****/
html {
  font-size: 16px;
  width: 100%
  height: 100%
}

body {
  font-family: 'Noto Sans', sans-serif;
}


h1 {
  color: #ee3a43;
  font-family: 'Fjalla One', sans-serif;
  font-size: 4em;
  line-height: 0px;
  margin-top: 0;
}

h2 {

  font-family: 'Fjalla One', sans-serif;
  font-size: 4.5em;
  text-align: center;
}

h3 {
  font-family: 'Fjalla One', sans-serif;
  font-size: 3.2em;
  text-align: center;
}



h4{

  font-size: 2.5em;
  font-weight: bold;
  text-align: center;

}
h5 {
  font-size: 2.3em;
  margin: 0px;
  color: #ee3a43;
}

p {
  font-size: 2.875em;
    text-align: center;
}
span {
  color: #ee3a43;
  font-weight: bold;
}
/*****DIV STYLES & GRID*****/
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.topper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-logo {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call {
  padding-bottom: 20px;
}

.title {
  width: 100%;
  text-align: center;
}
main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column-reverse;
}
.full-width {

  width: 100%;
}



.bins {
  display: inline-flex;
  width: 49%;
}


/*.half-width {
  float: left;
  width: 48%;*/
}

.third-width {

  padding-bottom: 40px;
  width: 33%;
  text-align: center;
}



section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

/*****HEADER*****/

#tag {
  color: #ee3a43;
  line-height: 0px;
  padding-left: 30px;
}

.call a {
  color: #0053a0;
  font-size: 4em;
}

#pic {
  background: url(../img/ice-cubes-row.png) no-repeat;
      background-size: cover;
      height: 780px;
      display: flex;
      align-items: flex-start;
}
nav {
  text-align: center;
  padding-top: 60px;


}
nav ul li  {
  color: #0053a0;
    display: inline-block;
    font-family: 'Fjalla One', sans-serif;
    font-size: 3.2em;
    padding-right: 21px;
    text-decoration: none;
}

a {
  color:#0053a0;
  text-decoration: none;
}


/*****MAIN RENTAL & SERVICE*****/

/*#main {
  height: 600px;
}*/
#main ul {
  font-size: 3em;
  list-style: square;
  padding-left: 30%;
}

/*****GUARANTEE*****/

#guarantee {
  background: #0053a0;
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

/*****MACHINES*****/
.iceomatic {
  text-align: center;
    margin: 0px 20px;
}
.machines {
  padding: 40px 0px;
    margin-left: 80px;
    width: 100%
  }





#bin-one {
  background: url(../img/bin-one-mobile.png) no-repeat;
  height: 470px;
  margin-top: 20px;
}

#bin-two {
  background: url(../img/bin-ice-low-mobile.png) no-repeat;
  height: 548px;
  margin-top: 20px;
}



#bin-three {
  background: url(../img/bin-two-mobile.png) no-repeat;
  height: 480px;
  margin-top: 20px;
}
#bin-four {
  background: url(../img/bin-three-mobile.png) no-repeat;
  height: 480px;
  margin-top: 20px;
}

/*****CUBES*****/

#cubes {
  padding-top: 20px;

}

.cubes img {
  border: 10px solid #0053a0;
  border-radius: 60px;
  width: 600px;

}

/*****CONTACT*****/
.contact {

  display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    background: #0053a0;
    padding-top: 10px;
    text-align: center;

}

.contact img {
  border: 10px solid white;
    border-radius: 40px;
    width: 50%;
    margin: 60px;

}

footer #footnote  {
  color: white;
  background: #0053a0;
}
